// Font settings
$font-main: 'Luckiest Guy', cursive;
$font-size: 16px;
$lineheight: 24px;

// Color settings
$color-main: black;
$color-sub: #ff955e;
$color-bg: #F2FEFB;
$gradient-left: #FFE7CF;
$gradient-right: #FBFFC1;