.game {
    &__board {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 1100px;
        margin: 0 auto;
        &--card {
            background: linear-gradient( 
                to bottom right, 
                $gradient-left, 
                $gradient-right 
            );
            border: 2px solid $color-sub;
            border-radius: 20px;
            width: 200px;
            height: 200px;
            padding: 25px;
            margin-bottom: 20px;
            cursor: pointer;
            // transition: all 1s ease;
            img {
                max-width: 80%;
                max-height: 150px;
                position: relative;
                display: block;
                margin: 0 auto;
                top: 50%;
                transform: translateY(-50%);
                // transition: all 1s ease;
            } // img
            &.turnedback {
                // transition: all 1s ease;
                img {
                    // display: none;
                    width: 0;
                    height: 0;
                    opacity: 0;
                    // transition: all 1s ease;
                }
                background-image: url(../images/background.png);
            }
        } // --card
    } // __board
} // game